
body {
  font-family: Calibri;
  background-color: rgb(244, 231, 215);
}

#main-heading {
  text-align: center;
  background-color: bisque;
  border-radius: 5px;
  padding: 10px;
}
.container {
    max-width: 650px;
    margin: 40px auto;
    background: #fdf6ef;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(120, 86, 66, 0.13);
    padding: 5px 24px 24px 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 10px;
  align-content: center;
  padding: 20px;
  margin: 20px;
}

#todo-input {
  font-size: 15px;
  padding: 5px 5px;
  width: 80%;
}

 #todo-date {
  font-size: 15px;
  padding: 3px 3px;
  width: 80%;
}

.btn-delete {
  background-color: brown;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
}
.btn-todo {
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 5px;
  cursor: pointer;
}